# -*- coding: utf-8 -*-

% if flash:
<div class="container">
	<div id="flash-message" class="flash-message">
		<div id="flash-message-list"></div>
	</div>
</div>
<script>
	var message = "<div id='flash-message-items' class='col-md-8 col-md-offset-2'>";
	% if 'error' in flash:
		% for message in flash['error']:
			message += "<div class='alert alert-danger'><span class='glyphicon glyphicon-exclamation-sign'></span>&nbsp;${message | h}</div>";
		% endfor
	% endif
	% if 'notice' in flash:
		% for message in flash['notice']:
			message += "<div class='alert alert-warning'><span class='glyphicon glyphicon-warning-sign'></span>&nbsp;${message | h}</div>";
		% endfor
	% endif
	% if 'info' in flash:
		% for message in flash['info']:
			message += "<div class='alert alert-info'><span class='glyphicon glyphicon-comment'></span>&nbsp;${message | h}</div>";
		% endfor
	% endif
	% if 'success' in flash:
		% for message in flash['success']:
			message += "<div class='alert alert-success'><span class='glyphicon glyphicon-ok'></span>&nbsp;${message | h}</div>";
		% endfor
	% endif
	message += "</div>";
	showNotification(message, '', function(){});
</script>
% endif