.navbar-default {
	background-color: rgba(7, 7, 7, 0.24);
	border: none;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a  {
	color: #FFF;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-nav > li > a:focus {
	color: #e8e8e8;
}

.navbar-nav {
	padding: 15px;
}

.header-logo {
	height: 48px;
}

.body-wrapper {
	margin-top:90px;
}
.footer {
	text-align:center;
	color: #FFF;
}