<div class="panel panel-info">
	  <div class="panel-heading">
			<h3 class="panel-title">My Project List</h3>
	  </div>
	  <div class="panel-body">
			<table class="table-hover table-condensed table table-responsive">
				<thead>
					<tr>
						<th><span class="glyphicon glyphicon-cog"></span>&nbsp;Project Name</th>
						<th><span class="glyphicon glyphicon-bell"></span>&nbsp;Status</th>
						<th><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Number of Tasks</th>
						<th>&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>TodoList.Py Project (GWD)</td>
						<td><span class="label label-success">Active</span></td>
						<td><span class="label label-info">22</span></td>
					</tr>
				</tbody>
			</table>
	  </div>
</div>